name: "[terraform] Lint & Secure"
on:
  pull_request:
    branches:
      - main
    paths:
      - modules/**/*.tf
      - .github/workflows/tf.validate.yaml
      - .github/configs/**
      - scripts/**

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: hashicorp/setup-terraform@v3
        with:
          fetch-depth: 0
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.0
      - name: Generate Documentation
        run: |
          ./scripts/tf-docs.sh
          if [[ $(git diff --stat) != '' ]]; then
            echo -e '\033[0;31mDocumentation outdated!\033[0m ❌'
            git diff --color
            exit 1
          else
            echo -e '\033[0;32mDocumentation up to date\033[0m ✔'
          fi

      - name: Format Terraform
        run: |
          ./scripts/tf-fmt.sh
          if [[ $(git diff --stat) != '' ]]; then
            echo -e '\033[0;31mTerraform not formatted!\033[0m ❌'
            git diff --color
            exit 1
          else
            echo -e '\033[0;32mTerraform format up to date\033[0m ✔'
          fi

      - name: Examples
        run: ./scripts/examples.sh

      - name: Report
        run: ./scripts/trivy.sh trivy.sarif

      # agreed with security, we run on PR for simplicity for now until we have no findings. from then on we can block PRs that introduce new findings.
      - name: Upload Sarif results
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 #v4.31.9
        with:
          sarif_file: trivy.sarif
